.App{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}

#clock_div{
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
}

#clock_div>span{
  font-family: monospace;
  font-size: 40px;
}

#lap_div{
height: 350px;
background-color: #f3fcfd;
width: 80%;
overflow-x: scroll;
overflow-y: hidden;
}

#button_div{
  height: 10vh;
  width: 80%;
  display: flex;
  justify-content: center;
}

#content_div{
  width: 80%;
  background-color: #f3fcfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border-radius: 50px;
  padding: 2%;
}

.laps_innerdiv{
  display: flex;
}


.laps{
  background-color:white ;
  text-align: center;
  padding: 2%;
  border-radius: 20px;
}

#lap_heading{
  font-size: small;
  font-family: Bahnschrift;
}

#lap_value{
  font-family: Arial Black;
}

#lap_icon{
  font-size: x-large;
  position: fixed;
}

#delete_icon{
color: rgb(252, 135, 135);
}

#delete_icon:hover{
  cursor: pointer;
}

.buttons{
  border: none;
  padding: 1%;
  width: 15%;
  border-radius: 20px;
  background-color: #cff4f8;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.buttons:hover{
  cursor: pointer;
}

sub{
  font-size: 20px;
}